{% extends "wwrequests/base.html" %}

{% block session_title %}
Change password：
{% endblock %}


{% block main_context %}
<div id="content-main">
    <form action="" method="post">{% csrf_token %}
        <div>
	        {% if form.errors %}
	            <p class="errornote">
                        from error!
	            </p>
	        {% endif %}
	
	        <p>"Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly."</p>
	

	        <table>
		        <tr>
                            <td>
		            {{ form.old_password.errors }}
		            Old password:
		            </td>
                            <td>{{ form.old_password }}</td>
                        </tr>
		
		        <tr>
                            <td>
		            {{ form.new_password1.errors }}
		            New password:
		            </td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
		
		        <tr>
                            <td>
		            {{ form.new_password2.errors }}
		            Password (again):
                            </td>
                            <td>{{ form.new_password2 }}</td>
	        	</tr>
	
                 </table>
	
		<div class="submit-row">
		    <input type="submit" value="Change my password" class="default" />
		</div>
	
		<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
	</div>
    </form>
</div>
	
{% endblock %}

{% block side_links %}
<h3><a href='/wwrequests'>See list</a></h3>
<h3><a href='/wwrequests/addRequest'>Add Request</a></h3>
<h3><a href='/wwrequests/uploadXLS'>Upload Requests from xls (**need IE for ActiveX**)</a></h3>
<h3><a href='/wwrequests/downloadXLS'>Download Requests into xls (**need IE for ActiveX**)</a></h3>
<h3><a href='/wwrequests/viewVotes'>Show votes</a></h3>
{% endblock %}
