<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Site administration | Django site admin</title>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    </head>

    <body class=" dashboard" >
        <!-- Container -->
        <div id="container">

            <!-- Header -->
            <div id="header">
                <div id="branding">
                    
                    <h1 id="site-name">NIS需求列表</h1>
                </div>

                <div id="user-tools">
                    {% if request.user.is_authenticated %}
                        Welcome <strong>{{request.user.username}}</strong>,
                    {% else %}<a href={% url 'login' %}>Login</a>{% endif %}
                    
                    <a href='/'}>View site</a> /

                    {% if request.user.is_authenticated %}
                    <a href='/change-password' >Change password</a> 
                    <a href='/wwrequests/logout' >/ Log out</a>{% endif %}
                </div>
            </div>
            <!-- END Header -->

            <!-- Content -->
            <div id="content" class="colMS">
                <h1>
                    <img width='50px' src='/static/pic/nikon_logo.jpg'>                    
                    {% block session_title %}{% endblock%}
                    
                </h1>
                <div id="content-main">
                    <div >
                        {% block main_context %}
                        {% endblock %}
                    </div>
                </div>

                <div id="content-related">
                    <div class="module" id="recent-actions-module">
                        <h2>links here</h2>
                        {% block side_links %} 
                        <h3>link 1</h3>
                        <h3>link 2</h3>
                        {% endblock %}
                    </div>
                </div>
                <br class="clear">
            </div>
            <!-- END Content -->

            <div id="footer"></div>
        </div>
        <!-- END Container -->

    </body>
</html>
